/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Jan-2015, 15:23:34
    Author     : Owner
http://www.menucool.com/horizontal/css-menus
*/

body {
    margin: 0;
    width: 100%;
}

.heading {
    padding: 5px;
}

.title {
    width:100%;
    text-align:right;
    font-weight: bold;
    font-family: Arial;
    float:right;
}

.titletabbox {
    float:right;
}

.footer {
    text-align:center;
}


.main
{
    padding: 30px;
}

.progressbar-override {
    max-width: 50em;
}

.clearfix {
    clear:both;
}

.media-picture {
    max-width: 64px;
}

@media screen and (max-width: 800px)  {
    .ticketnav {
        display:none;
    }
}